@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css";
@import "tailwindcss";

/* 2. 디자인 기준 등록 */
@theme {
    /* 기본 폰트를 Pretendard로 지정 */
    --font-sans:
        "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont,
        system-ui, sans-serif;

    /* 디자인팀 피그마 커스텀 컬러 등록 */
    --color-green-100: #d6f8dd;
    --color-green-200: #adf2bb;
    --color-green-300: #84eb99;
    --color-green-400: #5be478;
    --color-green-500: #32de56;
    --color-green-600: #28b145;
    --color-green-700: #1e8533;
    --color-green-800: #145922;
    --color-green-900: #0a2c11;

    --color-lime-100: #f4fed9;
    --color-lime-200: #e9fdb2;
    --color-lime-300: #defc8c;
    --color-lime-400: #d3fb65;
    --color-lime-500: #c8fa3f;
    --color-lime-600: #a0c832;
    --color-lime-700: #789626;
    --color-lime-800: #506419;
    --color-lime-900: #28320d;

    --color-purple-100: #f0f1fe;
    --color-purple-200: #e1e4fd;
    --color-purple-300: #d1d6fc;
    --color-purple-400: #c2c9fb;
    --color-purple-500: #b3bbfa;
    --color-purple-600: #8f96c8;
    --color-purple-700: #6b7096;
    --color-purple-800: #484b64;
    --color-purple-900: #242532;

    --color-orange-100: #ffe6cc;
    --color-orange-200: #ffcd99;
    --color-orange-300: #ffb366;
    --color-orange-400: #ff9a33;
    --color-orange-500: #ff8100;
    --color-orange-600: #cc6700;
    --color-orange-700: #994d00;
    --color-orange-800: #663400;
    --color-orange-900: #331a00;

    --color-red-100: #fed7d7;
    --color-red-200: #feafaf;
    --color-red-300: #fd8787;
    --color-red-400: #fc5f5f;
    --color-red-500: #fc3737;
    --color-red-600: #c92c2c;
    --color-red-700: #972121;
    --color-red-800: #651616;
    --color-red-900: #320b0b;

    --color-black-100: #fbfbfb;
    --color-black-200: #edeeef;
    --color-black-300: #dfe1e4;
    --color-black-400: #c5c9cd;
    --color-black-500: #acb1b6;
    --color-black-600: #9499a0;
    --color-black-650: #72767c;
    --color-black-700: #505459;
    --color-black-750: #3c3f43;
    --color-black-800: #282c2f;
    --color-black-850: #1a1c1f;
    --color-black-900: #0c0d0e;

    /* PC 화면 가로 길이 조정 */
    --container-app: 375px;
}

@layer base {
    * {
        box-sizing: border-box;
    }

    html,
    body,
    #root {
        width: 100%;
        min-height: 100%;
    }

    html {
        font-family: var(--font-sans);
        background-color: var(--color-black-900);
    }

    body,
    #root {
        min-height: 100dvh;
        margin: 0;
        background-color: var(--color-black-900);
    }

    body {
        margin: 0;
        min-width: 320px;
        background: #f5f5f5; /* PC에서 앱 바깥 배경 */
    }
}
